<section class="container-fluid main-content">
	<div class="card">
		<div class="card-content">
			<div class="content">
				<section class="main">
					<h1>Welcome to the AngularJS Demo</h1>
					<p>Please use the following credentials to login</p>
					<ul>
						<li>Email: pzlydak@gmail.com</li>
						<li>Password: 123456</li>
					</ul>
				</section>
				<section class="cta">
					<p>
						<a ui-sref="login" class="btn btn-large btn-danger btn-full">Login</a>
					</p>
				</section>
			</div>
		</div>
	</div>
</section>