<div id="cubenado" class="cubenado"></div>
<div class="controls">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Particles</label>
			<div class="col-sm-9">
				<input class="form-control" type="range" min="10" max="10000" id="cubes" ng-model="data.particleCount" ng-change="onParticleSliderChange()" />
			</div>
			<label class="col-sm-1 control-label">
				{{data.particleCount}}
			</label>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Randomness</label>
			<div class="col-sm-9">
				<input class="form-control" type="range" min="0" max="100" id="random" ng-model="data.randomness" ng-change="onRandomSliderChange()" />
			</div>
			<label class="col-sm-1 control-label">
				{{data.randomness}}
			</label>
		</div>
	</form>
</div>