<div class="card">
	<div class="card-content">
		<div class="content">
			<form name="formLogin" id="formLogin" ng-submit="submit(formLogin.$valid)" novalidate>
				<div ng-if="status" class="status">
					<p>
						<i class="fa fa-times-circle text-danger"></i> {{status.message}}
					</p>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="formLoginEmail" id="formLoginEmail" placeholder="Email" ng-class="{'error': !formLogin.formLoginEmail.$valid && submitted}" ng-model="user.email" required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="formLoginPassword" id="formLoginPassword" placeholder="Password" ng-class="{'error': !formLogin.formLoginPassword.$valid && submitted}" ng-model="user.password" required>
				</div>
				<div class="form-group center">
					<button type="submit" class="btn btn-danger btn-full">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>