<nav class="main-nav">
	<ul>
		<li ui-sref-active="active"><a href="#" ui-sref="home">Home</a></li>
		<li ui-sref-active="active"><a href="#" ui-sref="dashboard">Dashboard</a></li>
		<li ng-if="!loggedIn" ui-sref-active="active"><a href="#" ui-sref="login">Login</a></li>
		<li ng-if="loggedIn" ui-sref-active="active"><a href="#" ui-sref="logout">Logout</a></li>
	</ul>
</nav>