/*
|--------------------------------------------------------------------------
| Bootstrap
|--------------------------------------------------------------------------
*/

@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$footerHeight: 3em;
$white: #fff;
$black: #000;

/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
*/

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto (-$footerHeight);
	background: $gray-lighter;
}
.footer, .push {
	height: $footerHeight;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

.header {
	padding: 10px 0px 10px 0px;
	background: $gray-dark;
	margin-bottom: 20px;
	color: $gray-light;
	border-bottom: 3px solid $white;
}

.main-nav {
	text-align: right;
	ul {
		text-align: left;
		display: inline-block;
		margin: 0px;
		li {
			display: inline-block;
			a {
				color: $gray-light;
				text-transform: uppercase;
				padding: 12px;
				text-decoration: none;

				&:hover{
					background: $gray-darker;
					text-decoration: none;
				}

			}

			&.active {
				a {
					background: $white;
					color: $gray-dark;
				}
			}

		}
	}
}

/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/

form {
	input.error {
		border: 1px solid $brand-danger;
	}
}

/*
|--------------------------------------------------------------------------
| Sections
|--------------------------------------------------------------------------
*/

section {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0px;
	}
}

.main-content {
	padding-bottom: 20px;
}

/*
|--------------------------------------------------------------------------
| Cubenado
|--------------------------------------------------------------------------
*/

cubenado {
	display: block;
	width: 100%;
	text-align: center;
	.cubenado {
		display: inline-block;
	}
	.controls {
		padding: 20px 0px 20px 0px;
	}
}

.card {
	
	cursor: pointer;

	.card-content {

		background: $white;
		@include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.25));
		border-radius: 6px;
		overflow: hidden;
		
		h3 {
			text-align: center;
			background: $gray-lighter;
			border-bottom: 1px solid darken($gray-lighter, 10);
			color: $gray;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 5px;
		}
		.content {
			padding: 20px;
		}

		.img {
			position:  relative;
			width: 100%;
			background: $black;
			height: auto;
			z-index: 1;

			.cta {
				font-size: 100px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -50px;
				margin-left: -42px;
				z-index: 2;
				color: $white;
				opacity: 0.2;

				&:hover {
					opacity: 0.5;
				}

			}

		}

	}

	.form-group:last-child {
		margin-bottom: 0px;
	}

	h1:first-child, h2:first-child {
		margin-top: 0px;
	}

}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
	background: $gray-dark;
	color: $gray-light;
	line-height: $footerHeight;
}

/*
|--------------------------------------------------------------------------
| Utility
|--------------------------------------------------------------------------
*/

.btn-full {
	width: 100%;
}

.center {
	text-align: center;
}